h6 {
  font-weight: inherit;
  text-align: center;
}
h1 {
  font-weight: inherit;
  font-size: 4.2rem;
  line-height: 110%;
   margin: 2.8rem;
  text-align: center;
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  padding: 10px 0px;
  background-color: rgba(51, 51, 51, 0.08);
  
}
#watsonSays-btn{
  right: 350px;
}